In [1]:
import pyarrow
import pandas as pd
import sys, os, re, time
if '../python' not in sys.path: sys.path.append('../python')
if '../cpp/fit-build' not in sys.path: sys.path.append('../cpp/fit-build')

from pyfitparquet import PyFitParquet

In [2]:
# USER: must set DATA_DIR to location of .fit/.tcx files
# Defaults PARQUET_DIR to subdirectory within DATA_DIR

DATA_DIR = '../../data'
PARQUET_DIR = DATA_DIR + '/parquet'

try: os.mkdir(PARQUET_DIR) 
except FileExistsError: pass

In [3]:
# Serializes all files in DATA_DIR to parquet
PyFitParquet().data_to_parquet(DATA_DIR)

Serialized ../../data/Bolt_GPS.fit => ../../data/parquet/Bolt_GPS.parquet in 13.124 sec
Serialized ../../data/Who_Dares_Whoop.fit => ../../data/parquet/Who_Dares_Whoop.parquet in 0.166 sec
Serialized ../../data/60_min_Power_Zone_Endurance_Ride_with_Christine_D_Ercole.tcx => ../../data/parquet/60_min_Power_Zone_Endurance_Ride_with_Christine_D_Ercole.parquet in 0.468 sec
Serialized ../../data/TeamScream.tcx => ../../data/parquet/TeamScream.parquet in 0.815 sec
Serialized ../../data/Who_Dares_Bolt.fit => ../../data/parquet/Who_Dares_Bolt.parquet in 0.929 sec
Serialized ../../data/45_min_Power_Zone_Ride_with_Matt_Wilpers.tcx => ../../data/parquet/45_min_Power_Zone_Ride_with_Matt_Wilpers.parquet in 0.233 sec
Serialized ../../data/Who_Dares_Sufferfest.fit => ../../data/parquet/Who_Dares_Sufferfest.parquet in 0.611 sec
Serialized ../../data/45_min_HIIT_Hills_Ride_with_Sam_Yo.tcx => ../../data/parquet/45_min_HIIT_Hills_Ride_with_Sam_Yo.parquet in 0.250 sec

In [6]:
# Opens transformed parquet files into
# dataframes and display their summaries

dframes = {}
for file in os.listdir(PARQUET_DIR):
#{
    matchobj = re.match('(\w+).parquet', file)
    if matchobj:
        pfile = f'{PARQUET_DIR}/{file}'
        print(pfile + ":")
        pdframe = pd.read_parquet(pfile, engine='pyarrow')
        dframes[pfile] = pdframe
        display(pdframe)
        #display(pdframe[60:120])
        print()
#}

../../data/parquet/45_min_Power_Zone_Ride_with_Matt_Wilpers.parquet:

,source_filename,manufacturer_name,product_index,timestamp,mesg_name,field_index,field_name,field_type,value_string,value_float,units
0,45_min_Power_Zone_Ride_with_Matt_Wilpers.tcx,Peloton Bike,None,2021-01-13 20:05:02,Activity,None,sport,string,Biking,NaN,None
1,45_min_Power_Zone_Ride_with_Matt_Wilpers.tcx,Peloton Bike,None,2021-01-13 20:05:05,Creator,None,name,string,Peloton Bike,NaN,None
2,45_min_Power_Zone_Ride_with_Matt_Wilpers.tcx,Peloton Bike,None,2021-01-13 20:05:05,Lap,None,total_time,integer,2700,2700.00,s
3,45_min_Power_Zone_Ride_with_Matt_Wilpers.tcx,Peloton Bike,None,2021-01-13 20:05:05,Lap,None,distance,float,17187.75,17187.75,m
4,45_min_Power_Zone_Ride_with_Matt_Wilpers.tcx,Peloton Bike,None,2021-01-13 20:05:05,Lap,None,maximum_speed,float,10.33,10.33,m/s
...,...,...,...,...,...,...,...,...,...,...,...
5175,45_min_Power_Zone_Ride_with_Matt_Wilpers.tcx,Peloton Bike,None,2021-01-13 20:50:02,Trackpoint,None,distance,float,17187.75,17187.75,m
5176,45_min_Power_Zone_Ride_with_Matt_Wilpers.tcx,Peloton Bike,None,2021-01-13 20:50:02,Trackpoint,None,heart_rate,float,151.0,151.00,bmp
5177,45_min_Power_Zone_Ride_with_Matt_Wilpers.tcx,Peloton Bike,None,2021-01-13 20:50:02,Trackpoint,None,cadence,float,91.0,91.00,rpm
5178,45_min_Power_Zone_Ride_with_Matt_Wilpers.tcx,Peloton Bike,None,2021-01-13 20:50:02,Trackpoint,None,Speed,float,4.57,4.57,m/s
5179,45_min_Power_Zone_Ride_with_Matt_Wilpers.tcx,Peloton Bike,None,2021-01-13 20:50:02,Trackpoint,None,power,float,36.0,36.00,watts

../../data/parquet/Who_Dares_Whoop.parquet:

,source_filename,manufacturer_name,product_index,timestamp,mesg_name,field_index,field_name,field_type,value_string,value_float,units
0,Who_Dares_Whoop.fit,WHOOP,3,NaT,file_id,1,manufacturer,integer,305,305.0,None
1,Who_Dares_Whoop.fit,WHOOP,3,NaT,file_id,0,type,integer,4,4.0,None
2,Who_Dares_Whoop.fit,WHOOP,3,NaT,file_id,2,product,integer,3,3.0,None
3,Who_Dares_Whoop.fit,WHOOP,3,NaT,file_id,3,serial_number,integer,12345,12345.0,None
4,Who_Dares_Whoop.fit,WHOOP,3,2020-11-25 19:00:06,session,253,timestamp,integer,975265206,975265206.0,s
...,...,...,...,...,...,...,...,...,...,...,...
5407,Who_Dares_Whoop.fit,WHOOP,3,2020-11-25 19:43:21,record,3,heart_rate,integer,135,135.0,bpm
5408,Who_Dares_Whoop.fit,WHOOP,3,2020-11-25 19:43:22,record,253,timestamp,integer,975267802,975267802.0,s
5409,Who_Dares_Whoop.fit,WHOOP,3,2020-11-25 19:43:22,record,3,heart_rate,integer,133,133.0,bpm
5410,Who_Dares_Whoop.fit,WHOOP,3,2020-11-25 19:43:23,record,253,timestamp,integer,975267803,975267803.0,s
5411,Who_Dares_Whoop.fit,WHOOP,3,2020-11-25 19:43:23,record,3,heart_rate,integer,133,133.0,bpm

../../data/parquet/Who_Dares_Sufferfest.parquet:

,source_filename,manufacturer_name,product_index,timestamp,mesg_name,field_index,field_name,field_type,value_string,value_float,units
0,Who_Dares_Sufferfest.fit,THE_SUFFERFEST,1231,2020-11-25 18:48:03,file_id,0,type,integer,4,4.0,None
1,Who_Dares_Sufferfest.fit,THE_SUFFERFEST,1231,2020-11-25 18:48:03,file_id,1,manufacturer,integer,282,282.0,None
2,Who_Dares_Sufferfest.fit,THE_SUFFERFEST,1231,2020-11-25 18:48:03,file_id,2,product,integer,1231,1231.0,None
3,Who_Dares_Sufferfest.fit,THE_SUFFERFEST,1231,2020-11-25 18:48:03,file_id,3,serial_number,integer,12345,12345.0,None
4,Who_Dares_Sufferfest.fit,THE_SUFFERFEST,1231,2020-11-25 18:48:03,file_id,4,time_created,integer,975264483,975264483.0,None
...,...,...,...,...,...,...,...,...,...,...,...
22904,Who_Dares_Sufferfest.fit,THE_SUFFERFEST,1231,2020-11-25 19:42:13,activity,5,local_timestamp,integer,0,0.0,None
22905,Who_Dares_Sufferfest.fit,THE_SUFFERFEST,1231,2020-11-25 19:42:13,activity,1,num_sessions,integer,1,1.0,None
22906,Who_Dares_Sufferfest.fit,THE_SUFFERFEST,1231,2020-11-25 19:42:13,activity,2,type,integer,0,0.0,None
22907,Who_Dares_Sufferfest.fit,THE_SUFFERFEST,1231,2020-11-25 19:42:13,activity,3,event,integer,26,26.0,None
22908,Who_Dares_Sufferfest.fit,THE_SUFFERFEST,1231,2020-11-25 19:42:13,activity,4,event_type,integer,0,0.0,None

../../data/parquet/Bolt_GPS.parquet:

,source_filename,manufacturer_name,product_index,timestamp,mesg_name,field_index,field_name,field_type,value_string,value_float,units
0,Bolt_GPS.fit,WAHOO_FITNESS,31,2020-08-30 16:48:11,file_id,4,time_created,integer,967740491,9.677405e+08,None
1,Bolt_GPS.fit,WAHOO_FITNESS,31,2020-08-30 16:48:11,file_id,0,type,integer,4,4.000000e+00,None
2,Bolt_GPS.fit,WAHOO_FITNESS,31,2020-08-30 16:48:11,file_id,1,manufacturer,integer,32,3.200000e+01,None
3,Bolt_GPS.fit,WAHOO_FITNESS,31,2020-08-30 16:48:11,file_id,2,product,integer,31,3.100000e+01,None
4,Bolt_GPS.fit,WAHOO_FITNESS,31,2020-08-30 16:48:11,file_id,3,serial_number,integer,3338297344,3.338297e+09,None
...,...,...,...,...,...,...,...,...,...,...,...
360351,Bolt_GPS.fit,WAHOO_FITNESS,31,2020-08-30 22:49:26,activity,1,num_sessions,integer,1,1.000000e+00,None
360352,Bolt_GPS.fit,WAHOO_FITNESS,31,2020-08-30 22:49:26,activity,2,type,integer,0,0.000000e+00,None
360353,Bolt_GPS.fit,WAHOO_FITNESS,31,2020-08-30 22:49:26,activity,3,event,integer,26,2.600000e+01,None
360354,Bolt_GPS.fit,WAHOO_FITNESS,31,2020-08-30 22:49:26,activity,4,event_type,integer,1,1.000000e+00,None
360355,Bolt_GPS.fit,WAHOO_FITNESS,31,2020-08-30 22:49:26,activity,0,total_timer_time,float,21676,2.167600e+04,s

../../data/parquet/TeamScream.parquet:

,source_filename,manufacturer_name,product_index,timestamp,mesg_name,field_index,field_name,field_type,value_string,value_float,units
0,TeamScream.tcx,The Sufferfest Training System,1,2021-01-09 16:40:10,Activity,None,sport,string,Biking,NaN,None
1,TeamScream.tcx,The Sufferfest Training System,1,2021-01-09 16:40:10,Lap,None,average_heart_rate,integer,178,178.00,bpm
2,TeamScream.tcx,The Sufferfest Training System,1,2021-01-09 16:40:10,Lap,None,calories,integer,913,913.00,kcal
3,TeamScream.tcx,The Sufferfest Training System,1,2021-01-09 16:40:11,Lap,None,distance,float,38175.74,38175.74,m
4,TeamScream.tcx,The Sufferfest Training System,1,2021-01-09 16:40:11,Lap,None,intensity,string,Active,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...
20760,TeamScream.tcx,The Sufferfest Training System,1,2021-01-09 17:49:39,Creator,None,unit_id,integer,1,1.00,None
20761,TeamScream.tcx,The Sufferfest Training System,1,2021-01-09 17:49:39,Creator,None,build_major,integer,0,0.00,None
20762,TeamScream.tcx,The Sufferfest Training System,1,2021-01-09 17:49:39,Creator,None,build_minor,integer,0,0.00,None
20763,TeamScream.tcx,The Sufferfest Training System,1,2021-01-09 17:49:39,Creator,None,version_major,integer,1,1.00,None
20764,TeamScream.tcx,The Sufferfest Training System,1,2021-01-09 17:49:39,Creator,None,version_minor,integer,0,0.00,None

../../data/parquet/60_min_Power_Zone_Endurance_Ride_with_Christine_D_Ercole.parquet:

,source_filename,manufacturer_name,product_index,timestamp,mesg_name,field_index,field_name,field_type,value_string,value_float,units
0,60_min_Power_Zone_Endurance_Ride_with_Christin...,Peloton Bike,None,2021-01-12 21:00:37,Activity,None,sport,string,Biking,NaN,None
1,60_min_Power_Zone_Endurance_Ride_with_Christin...,Peloton Bike,None,2021-01-12 21:00:39,Creator,None,name,string,Peloton Bike,NaN,None
2,60_min_Power_Zone_Endurance_Ride_with_Christin...,Peloton Bike,None,2021-01-12 21:00:39,Lap,None,total_time,integer,3600,3600.00,s
3,60_min_Power_Zone_Endurance_Ride_with_Christin...,Peloton Bike,None,2021-01-12 21:00:39,Lap,None,distance,float,27535.81,27535.81,m
4,60_min_Power_Zone_Endurance_Ride_with_Christin...,Peloton Bike,None,2021-01-12 21:00:39,Lap,None,maximum_speed,float,9.27,9.27,m/s
...,...,...,...,...,...,...,...,...,...,...,...
8565,60_min_Power_Zone_Endurance_Ride_with_Christin...,Peloton Bike,None,2021-01-12 22:00:36,Trackpoint,None,distance,float,27535.81,27535.81,m
8566,60_min_Power_Zone_Endurance_Ride_with_Christin...,Peloton Bike,None,2021-01-12 22:00:36,Trackpoint,None,heart_rate,float,125.0,125.00,bmp
8567,60_min_Power_Zone_Endurance_Ride_with_Christin...,Peloton Bike,None,2021-01-12 22:00:36,Trackpoint,None,cadence,float,96.0,96.00,rpm
8568,60_min_Power_Zone_Endurance_Ride_with_Christin...,Peloton Bike,None,2021-01-12 22:00:36,Trackpoint,None,Speed,float,5.24,5.24,m/s
8569,60_min_Power_Zone_Endurance_Ride_with_Christin...,Peloton Bike,None,2021-01-12 22:00:36,Trackpoint,None,power,float,47.7,47.70,watts

../../data/parquet/45_min_HIIT_Hills_Ride_with_Sam_Yo.parquet:

,source_filename,manufacturer_name,product_index,timestamp,mesg_name,field_index,field_name,field_type,value_string,value_float,units
0,45_min_HIIT_Hills_Ride_with_Sam_Yo.tcx,Peloton Bike,None,2020-10-28 16:31:36,Activity,None,sport,string,Biking,NaN,None
1,45_min_HIIT_Hills_Ride_with_Sam_Yo.tcx,Peloton Bike,None,2020-10-28 16:31:37,Creator,None,name,string,Peloton Bike,NaN,None
2,45_min_HIIT_Hills_Ride_with_Sam_Yo.tcx,Peloton Bike,None,2020-10-28 16:31:37,Lap,None,total_time,integer,2700,2700.00,s
3,45_min_HIIT_Hills_Ride_with_Sam_Yo.tcx,Peloton Bike,None,2020-10-28 16:31:37,Lap,None,distance,float,21227.19,21227.19,m
4,45_min_HIIT_Hills_Ride_with_Sam_Yo.tcx,Peloton Bike,None,2020-10-28 16:31:37,Lap,None,maximum_speed,float,11.4,11.40,m/s
...,...,...,...,...,...,...,...,...,...,...,...
6605,45_min_HIIT_Hills_Ride_with_Sam_Yo.tcx,Peloton Bike,None,2020-10-28 17:16:36,Trackpoint,None,distance,float,21227.19,21227.19,m
6606,45_min_HIIT_Hills_Ride_with_Sam_Yo.tcx,Peloton Bike,None,2020-10-28 17:16:36,Trackpoint,None,heart_rate,float,143.0,143.00,bmp
6607,45_min_HIIT_Hills_Ride_with_Sam_Yo.tcx,Peloton Bike,None,2020-10-28 17:16:36,Trackpoint,None,cadence,float,81.0,81.00,rpm
6608,45_min_HIIT_Hills_Ride_with_Sam_Yo.tcx,Peloton Bike,None,2020-10-28 17:16:36,Trackpoint,None,Speed,float,5.41,5.41,m/s
6609,45_min_HIIT_Hills_Ride_with_Sam_Yo.tcx,Peloton Bike,None,2020-10-28 17:16:36,Trackpoint,None,power,float,50.9,50.90,watts

../../data/parquet/Who_Dares_Bolt.parquet:

,source_filename,manufacturer_name,product_index,timestamp,mesg_name,field_index,field_name,field_type,value_string,value_float,units
0,Who_Dares_Bolt.fit,WAHOO_FITNESS,31,2020-11-25 18:48:44,file_id,4,time_created,integer,975264524,9.752645e+08,None
1,Who_Dares_Bolt.fit,WAHOO_FITNESS,31,2020-11-25 18:48:44,file_id,0,type,integer,4,4.000000e+00,None
2,Who_Dares_Bolt.fit,WAHOO_FITNESS,31,2020-11-25 18:48:44,file_id,1,manufacturer,integer,32,3.200000e+01,None
3,Who_Dares_Bolt.fit,WAHOO_FITNESS,31,2020-11-25 18:48:44,file_id,2,product,integer,31,3.100000e+01,None
4,Who_Dares_Bolt.fit,WAHOO_FITNESS,31,2020-11-25 18:48:44,file_id,3,serial_number,integer,3338297344,3.338297e+09,None
...,...,...,...,...,...,...,...,...,...,...,...
36394,Who_Dares_Bolt.fit,WAHOO_FITNESS,31,2020-11-25 19:43:38,activity,1,num_sessions,integer,1,1.000000e+00,None
36395,Who_Dares_Bolt.fit,WAHOO_FITNESS,31,2020-11-25 19:43:38,activity,2,type,integer,0,0.000000e+00,None
36396,Who_Dares_Bolt.fit,WAHOO_FITNESS,31,2020-11-25 19:43:38,activity,3,event,integer,26,2.600000e+01,None
36397,Who_Dares_Bolt.fit,WAHOO_FITNESS,31,2020-11-25 19:43:38,activity,4,event_type,integer,1,1.000000e+00,None
36398,Who_Dares_Bolt.fit,WAHOO_FITNESS,31,2020-11-25 19:43:38,activity,0,total_timer_time,float,3294,3.294000e+03,s